In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [7]:
# To pull the csv file
df= pd.read_csv('Data Science Jobs.csv')

In [8]:
df.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [14]:
#To check on the total number of rows and columns
df.shape

(9355, 12)

In [5]:
#To provide a statistical summary for the numerical columns in the dataframe
df.describe()

         work_year         salary  salary_in_usd
count  9355.000000    9355.000000    9355.000000
mean   2022.760449  149927.981293  150299.495564
std       0.519470   63608.835387   63177.372024
min    2020.000000   14000.000000   15000.000000
25%    2023.000000  105200.000000  105700.000000
50%    2023.000000  143860.000000  143000.000000
75%    2023.000000  187000.000000  186723.000000
max    2023.000000  450000.000000  450000.000000

In [6]:
# To check the datatypes of the columns in the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9355 entries, 0 to 9354
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           9355 non-null   int64
 1   job_title           9355 non-null   object
 2   job_category        9355 non-null   object
 3   salary_currency     9355 non-null   object
 4   salary              9355 non-null   int64
 5   salary_in_usd       9355 non-null   int64
 6   employee_residence  9355 non-null   object
 7   experience_level    9355 non-null   object
 8   employment_type     9355 non-null   object
 9   work_setting        9355 non-null   object
 10  company_location    9355 non-null   object
 11  company_size        9355 non-null   object
dtypes: int64(3), object(9)
memory usage: 877.2+ KB

In [9]:
#To check for duplicates - This dataframe doesn't have duplicates
df.duplicated().sum()

np.int64(4014)

In [12]:
#To check for total nulls in the dataframe - there are no numms in this dataframe
df.isnull().sum()

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

In [21]:
# a) Compare the average salaries of the ten categories and identify the top five categories
#To group the average salaries per job category
average_salaries = df.groupby('job_category')['salary_in_usd'].mean().sort_values(ascending=False) 
# Identify top 5 categories
top_5 = average_salaries.head(5).round(2)
print(top_5)

job_category
Machine Learning and AI           178925.85
Data Science and Research         163758.58
Data Architecture and Modeling    156002.36
Cloud and Database                155000.00
Data Engineering                  146197.66
Name: salary_in_usd, dtype: float64

In [ ]:
df= df_cleaned.dropna(subset=['job_category', 'salary_in_usd'])

NameError: name 'df_cleaned' is not defined

In [27]:
# Plotting the average salaries
sns.barplot(data=average_salaries, x ='job_category', y ='salary_in_usd', palette='viridis')

TypeError: Data source must be a DataFrame or Mapping, not <class 'pandas.core.series.Series'>.